<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Miminium Admin Template v.1">
    <meta name="author" content="Isna Nur Azis">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estad&iacute;sticas de la Covid-19</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/bootstrap.min.css}">
    <style>
        .triangle-right {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
        }
    </style>
    <!-- plugins -->
    <script src="https://kit.fontawesome.com/5e82014d58.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/animate.min.css}"/>
    <link th:href="@{/asset/css/style.css}" rel="stylesheet">
    <!-- end: Css -->
    <link rel="shortcut icon" th:href="@{/asset/img/logomi.png}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{/https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body id="mimin" class="dashboard">
<!-- start: Header -->
<nav th:replace="fragments/navbarFragment :: navbar"></nav>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
    <div th:replace="fragments/sidebarFragment :: sidebar"></div>
    <!-- start: content -->

    <div id="content">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-6 col-sm-12">
                    <h3 class="animated fadeInLeft">Current Covid-19 patients</h3>
                    <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> World</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
                        <h1>5.491.115</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding:20px;">
            <div class="col-md-12 padding-0">
                <div class="col-md-12 padding-0">
                    <!-- GLOBALES -->
                    <!-- Infectados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Infectados</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-disease icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${cases}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Hospitalizados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Hospitalizados</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-hospital icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${hospitalized}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Altas-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Altas</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-arrow-up icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${discharged}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Muertes-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Muertes</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-skull-crossbones icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${deaths}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- COMUNIDAD -->
                    <!-- Infectados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Infectados</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-disease icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${casesRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Hospitalizados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Hospitalizados</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-hospital icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${hospitalizedRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Altas-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Altas</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-arrow-up icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${dischargedRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Muertes-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Muertes</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-skull-crossbones icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${deathsRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chart section -->
            <!-- Contagios -->
            <div class="col-md-12 card-wrap padding-0">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h3>Contagios por d&iacute;a</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div id="canvas-holder2">
                                <canvas class="line-chart" id="chart1" style="margin-top:30px;height:200px;"></canvas>
                            </div>
                            <!-- Leyenda -->
                            <div class="col-md-12">
                                <h4 style="text-decoration: underline;">Leyenda</h4>
                                <br/>
                                <div class="triangle-right" style="border-left: 18px solid rgba(21, 186, 103, 0.4);"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contagios por comunidad
                                <br/>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Climograma -->
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h4>Climograma</h4>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div id="canvas-holder45">
                                <canvas class="line-chart" id="chart2" style="margin-top:30px;height:200px;"></canvas>
                            </div>
                            <!-- Leyenda -->
                            <div class="col-md-12">
                                <h4 style="text-decoration: underline;">Leyenda</h4>
                                <br/>
                                <div class="triangle-right" style="border-left: 18px solid rgba(206,13,13,0.4);"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temperatura
                                <br/>
                                <br/>
                                <div class="triangle-right" style="border-left: 18px solid rgba(11,37,212,0.4);"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Precipitaciones
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h4>Orders</h4>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div id="canvas-holder1">
                                <canvas class="bar-chart"></canvas>
                            </div>
                            <div class="col-md-12 padding-0">
                                <div class="col-md-4 col-sm-4 hidden-xs" style="padding-top:20px;">
                                    <canvas class="doughnut-chart2"></canvas>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <h4>Progress Produksi barang</h4>
                                    <p>Sed hendrerit. Curabitur blandit mollis lacus. Duis leo. Sed libero.fusce commodo
                                        aliquam arcu..</p>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                            <span class="sr-only">60% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: content -->

<!-- start: Javascript -->
<script th:src="@{/asset/js/jquery.min.js}"></script>
<script th:src="@{/asset/js/jquery.ui.min.js}"></script>
<script th:src="@{/asset/js/bootstrap.min.js}"></script>


<!-- plugins -->
<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
<script th:src="@{/asset/js/plugins/chart.min.js}"></script>


<!-- custom -->
<script th:src="@{/asset/js/main.js}"></script>
<script type="text/javascript" th:inline="javascript">
    (function (jQuery) {
        // start: Chart =============
        var casosChart = {
            labels: [[${dataDto.dateList}]],
            datasets: [{
                label: "Casos",
                fillColor: "rgba(21,186,103,0.4)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(66,69,67,0.3)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(36,114,7)",
                data: [[${dataDto.casesList}]]
            }]
        };

        var comparacionChart = {
            labels: [[${dataDto.dateList}]],
            datasets: [{
                label: "Temperatura",
                fillColor: "rgba(206,13,13,0.4)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(66,69,67,0.3)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(101,27,108)",
                data: [[${dataDto.tempList}]]
            }, {
                label: "Precipitaciones",
                fillColor: "rgba(11,37,212,0.4)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(66,69,67,0.3)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgb(27,58,229)",
                data: [[${dataDto.rainList}]]
            }]
        };

        var doughnutData2 = [
            {
                value: 100,
                color: "#129352",
                highlight: "#15BA67",
                label: "Alfa"
            },
            {
                value: 250,
                color: "#FF6656",
                highlight: "#FF6656",
                label: "Beta"
            },
            {
                value: 100,
                color: "#FDB45C",
                highlight: "#15BA67",
                label: "Gamma"
            },
            {
                value: 40,
                color: "#FD786A",
                highlight: "#15BA67",
                label: "Peta"
            },
            {
                value: 120,
                color: "#15A65D",
                highlight: "#15BA67",
                label: "X"
            }
        ];

        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(21,186,103,0.4)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(21,186,103,0.2)",
                    highlightStroke: "rgba(21,186,103,0.2)",
                    data: [65, 59, 80, 81, 56, 55, 40]
                },
                {
                    label: "My Second dataset",
                    fillColor: "rgba(21,113,186,0.5)",
                    strokeColor: "rgba(108,146,173,0.8)",
                    highlightFill: "rgba(21,113,186,0.2)",
                    highlightStroke: "rgba(21,113,186,0.2)",
                    data: [28, 48, 40, 19, 86, 27, 90]
                }
            ]
        };

        window.onload = function () {
            var ctx2 = $("#chart1")[0].getContext("2d");
            window.myLine = new Chart(ctx2).Line(casosChart, {
                responsive: true,
                showTooltips: true,
                multiTooltipTemplate: "<%= value %>",
                maintainAspectRatio: true
            });

            var algo = $("#chart2")[0].getContext("2d");
            window.myLine = new Chart(algo).Line(comparacionChart, {
                responsive: true,
                showTooltips: true,
                multiTooltipTemplate: "<%= value %>",
                maintainAspectRatio: true
            });

            var ctx3 = $(".bar-chart")[0].getContext("2d");
            window.myLine = new Chart(ctx3).Bar(barChartData, {
                responsive: true,
                showTooltips: true
            });

            var ctx4 = $(".doughnut-chart2")[0].getContext("2d");
            window.myDoughnut2 = new Chart(ctx4).Doughnut(doughnutData2, {
                responsive: true,
                showTooltips: true
            });

        };
        //  end:  Chart =============
    })(jQuery);
</script>
<!-- end: Javascript -->
</body>
</html>