<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Miminium Admin Template v.1">
    <meta name="author" content="Isna Nur Azis">
    <meta name="keyword" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Estad&iacute;sticas de la Covid-19</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/bootstrap.min.css}">
    <style>
        .triangle-right {
            position: absolute;
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-bottom: 9px solid transparent;
        }
    </style>
    <!-- plugins -->
    <script src="https://kit.fontawesome.com/5e82014d58.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/simple-line-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/css/plugins/animate.min.css}"/>
    <link th:href="@{/asset/css/style.css}" rel="stylesheet">
    <!-- end: Css -->
    <link rel="shortcut icon" th:href="@{/asset/img/logomi.png}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{/https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{/https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body id="mimin" class="dashboard">
<!-- start: Header -->
<nav th:replace="fragments/navbarFragment :: navbar"></nav>
<!-- end: Header -->

<div class="container-fluid mimin-wrapper">
    <div th:replace="fragments/sidebarFragment :: sidebar"></div>
    <!-- start: content -->

    <div id="content">
        <div class="panel">
            <div class="panel-body">
                <div class="col-md-6 col-sm-12">
                    <h3 class="animated fadeInLeft">Total de pacientes actualmente</h3>
                    <p class="animated fadeInDown"><span class="fa  fa-map-marker"></span> Todo el mundo <i class="fas fa-globe-europe"></i></p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
                        <h1>5.491.115</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="padding:20px;">
            <div class="col-md-12 padding-0">
                <div class="col-md-12 padding-0">
                    <!-- GLOBALES -->
                    <!-- Infectados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Infectados en Espa&ntilde;a</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-disease icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${cases}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Hospitalizados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Hospitalizados en Espa&ntilde;a</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-hospital icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${hospitalized}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Altas-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Altas en Espa&ntilde;a</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-arrow-up icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${discharged}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Muertes-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left">Muertes en Espa&ntilde;a</h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-skull-crossbones icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${deaths}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- COMUNIDAD -->
                    <!-- Infectados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left" th:text="'Infectados en ' + ${listForChartRegion.nameRegion}"></h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-disease icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${casesRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Hospitalizados -->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left" th:text="'Hospitalizados en ' + ${listForChartRegion.nameRegion}"></h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-hospital icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${hospitalizedRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Altas-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left" th:text="'Altas en ' + ${listForChartRegion.nameRegion}"></h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-arrow-up icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${dischargedRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <!-- Muertes-->
                    <div class="col-md-3">
                        <div class="panel box-v1">
                            <div class="panel-heading bg-white border-none">
                                <div class="col-md-6 col-sm-6 col-xs-6 text-left padding-0">
                                    <h4 class="text-left" th:text="'Muertes en ' + ${listForChartRegion.nameRegion}"></h4>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                    <h4>
                                        <span class="fas fa-skull-crossbones icons icon text-right"></span>
                                    </h4>
                                </div>
                            </div>
                            <div class="panel-body text-center">
                                <h1 th:text="${deathsRegion}"></h1>
                                <p>Pacientes</p>
                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chart section -->
            <!-- Contagios -->
            <div class="col-md-12 card-wrap padding-0">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h3>Contagios por d&iacute;a</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div id="canvas-holder2">
                                <canvas class="line-chart" id="chartComunidad" style="margin-top:30px;height:200px;"></canvas>
                            </div>
                            <!-- Leyenda -->
                            <div class="col-md-12">
                                <div class="triangle-right" style="border-left: 18px solid rgb(100,205,154);"></div><span th:text="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contagios en ' + ${listForChartRegion.nameRegion}"></span>
                                <br/>
                                <br/>
                                <br/>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Climograma -->
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h3>Climograma</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div id="canvas-holder45">
                                <canvas class="line-chart" id="chartClimograma" style="margin-top:30px;height:200px;"></canvas>
                            </div>
                            <!-- Leyenda -->
                            <div class="col-md-12">
                                <div class="triangle-right" style="border-left: 18px solid rgba(206,13,13,0.4);"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temperatura
                                <br/>
                                <br/>
                                <div class="triangle-right" style="border-left: 18px solid rgba(11,37,212,0.4);"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Precipitaciones
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contraste pais -->
                <div class="col-md-9">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h3>Contagios por d&iacute;a</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div id="canvas-holderPais">
                                <canvas class="line-chart" id="chartPais" style="margin-top:30px;height:200px;"></canvas>
                            </div>
                            <!-- Leyenda -->
                            <div class="col-md-12">
                                <div class="triangle-right" style="border-left: 18px solid rgb(100,205,154);"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contagios por comunidad
                                <br/>
                                <br/>
                                <div class="triangle-right" style="border-left: 18px solid rgba(226,188,40,0.6);"></div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contagios en Espa&ntilde;a
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Piechart contagios/hospitalizados -->
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h4 th:text="'Contagios/Hospitalizados en ' + ${listForChartRegion.nameRegion}"></h4>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div style="padding-top:20px;">
                                <canvas class="doughnut-chart-hospital"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Piechart contagios/muertos -->
                <div class="col-md-3">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h4 th:text="'Contagios/Muertos en ' + ${listForChartRegion.nameRegion}"></h4>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div style="padding-top:20px;">
                                <canvas class="doughnut-chart-muertos"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mapa -->
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h3>Mapa de calor de contagios</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div style="padding-top:20px;padding-left:40px;">
                                <img th:src="@{/asset/img/mapa_calor.png}" style="max-width: 94.5%">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Piechart contagios -->
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading bg-white border-none" style="padding:20px;">
                            <div class="col-md-6 col-sm-6 col-sm-12 text-left">
                                <h3>Contagios por comunidad</h3>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-bottom:50px;">
                            <div style="padding-top:20px;">
                                <canvas class="doughnut-chart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: content -->

<!-- start: Javascript -->
<script th:src="@{/asset/js/jquery.min.js}"></script>
<script th:src="@{/asset/js/jquery.ui.min.js}"></script>
<script th:src="@{/asset/js/bootstrap.min.js}"></script>


<!-- plugins -->
<script th:src="@{/asset/js/plugins/moment.min.js}"></script>
<script th:src="@{/asset/js/plugins/jquery.nicescroll.js}"></script>
<script th:src="@{/asset/js/plugins/chart.min.js}"></script>


<!-- custom -->
<script th:src="@{/asset/js/main.js}"></script>
<script type="text/javascript" th:inline="javascript">
    (function (jQuery) {

        // start: Chart =============
        var casosPaisChart = {
            labels: [[${listForChartRegion.dateList}]],
            datasets: [
                {
                    label: "Casos por pais",
                    fillColor: "rgba(226,188,40,0.6)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(229,196,97,0.6)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgba(226,188,40,0.6)",
                    pointHighlightStroke: "rgb(36,114,7)",
                    data: [[${listForChartCountry.casesList}]]
                },
                {
                label: "Casos por comunidad",
                fillColor: "rgb(100,205,154)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgb(150,227,190)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "rgb(100,205,154)",
                pointHighlightStroke: "rgb(36,114,7)",
                data: [[${listForChartRegion.casesList}]]
            }]
        };

        var casosComunidadChart = {
            labels: [[${listForChartRegion.dateList}]],
            datasets: [
                {
                    label: "Casos por comunidad",
                    fillColor: "rgba(179,55,245,0.4)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(179,55,245,0.4)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgba(179,55,245,0.4)",
                    pointHighlightStroke: "rgba(179,55,245,0.4)",
                    data: [[${listForChartRegion.casesList}]]
                },
                {
                    label: "Hospitalizados por comunidad",
                    fillColor: "rgba(47,235,255,0.4)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(103,120,253,0.4)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgba(34,58,255,0.4)",
                    pointHighlightStroke: "rgba(58,79,255,0.4)",
                    data: [[${listForChartRegion.hospitalizedList}]]
                },
                {
                    label: "Casos por comunidad",
                    fillColor: "rgba(8,229,30,0.4)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(8,229,30,0.4)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgb(100,205,154)",
                    pointHighlightStroke: "rgb(36,114,7)",
                    data: [[${listForChartRegion.dischargedList}]]
                },
                {
                    label: "Casos por comunidad",
                    fillColor: "rgba(0,0,0,0.4)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(66,69,67,0.3)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgba(78,78,78,0.4)",
                    pointHighlightStroke: "rgba(78,78,78,0.4)",
                    data: [[${listForChartRegion.deathsList}]]
                }

            ]
        };

        var hospitalizadosComunidadChart = {
            labels: [[${listForChartRegion.dateList}]],
            datasets: [
                {
                    label: "Casos por comunidad",
                    fillColor: "rgb(100,205,154)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(66,69,67,0.3)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgb(100,205,154)",
                    pointHighlightStroke: "rgb(36,114,7)",
                    data: [[${listForChartRegion.hospitalizedList}]]
                }
            ]
        };

        var altasComunidadChart = {
            labels: [[${listForChartRegion.dateList}]],
            datasets: [
                {
                    label: "Casos por comunidad",
                    fillColor: "rgb(100,205,154)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(66,69,67,0.3)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgb(100,205,154)",
                    pointHighlightStroke: "rgb(36,114,7)",
                    data: [[${listForChartRegion.casesList}]]
                }
            ]
        };

        var muertesComunidadChart = {
            labels: [[${listForChartRegion.dateList}]],
            datasets: [
                {
                    label: "Casos por comunidad",
                    fillColor: "rgb(100,205,154)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(66,69,67,0.3)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "rgb(100,205,154)",
                    pointHighlightStroke: "rgb(36,114,7)",
                    data: [[${listForChartRegion.deathsList}]]
                }
            ]
        };

        var comparacionChart = {
            labels: [[${listForChartRegion.dateList}]],
            datasets: [{
                label: "Temperatura",
                fillColor: "rgba(206,13,13,0.4)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(206,13,13,0.4)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "rgba(206,13,13,0.4)",
                pointHighlightStroke: "rgb(101,27,108)",
                data: [[${listForChartRegion.tempList}]]
            }, {
                label: "Precipitaciones",
                fillColor: "rgba(11,37,212,0.4)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(11,37,212,0.4)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "rgba(11,37,212,0.4)",
                pointHighlightStroke: "rgb(27,58,229)",
                data: [[${listForChartRegion.rainList}]]
            }]
        };

        var doughnutHospitalData = [
            {
                value: [[${casesRegion}]],
                color: "rgba(32,179,222,0.82)",
                highlight: "rgba(32,179,222,0.3)",
                label: "Contagios"
            },
            {
                value: [[${hospitalizedRegion}]],
                color: "rgba(198,77,77,0.70)",
                highlight: "rgba(198,77,77,0.4)",
                label: "Hospitalizados"
            }
        ];

        var doughnutDeathData = [
            {
                value: [[${casesRegion}]],
                color: "rgba(32,179,222,0.82)",
                highlight: "rgba(32,179,222,0.3)",
                label: "Contagios"
            },
            {
                value: [[${deathsRegion}]],
                color: "rgba(198,77,77,0.70)",
                highlight: "rgba(198,77,77,0.4)",
                label: "Muertes"
            }
        ];

        var doughnutData2 = [
            {
                value: [[${forPieChart1.casesList[0]}]],
                color: "rgba(17,85,22,0.70)",
                highlight: "rgba(0,95,9,0.4)",
                label: [[${forPieChart1.nameRegion}]]
            },
            {
                value: [[${forPieChart2.casesList[0]}]],
                color: "rgba(198,77,77,0.70)",
                highlight: "rgba(198,77,77,0.4)",
                label: [[${forPieChart2.nameRegion}]]
            },
            {
                value: [[${forPieChart3.casesList[0]}]],
                color: "rgba(205,23,74,0.70)",
                highlight: "rgba(205,23,74,0.4)",
                label: [[${forPieChart3.nameRegion}]]
            },
            {
                value: [[${forPieChart4.casesList[0]}]],
                color: "rgba(132,51,220,0.70)",
                highlight: "rgba(132,51,220,0.4)",
                label: [[${forPieChart4.nameRegion}]]
            },
            {
                value: [[${forPieChart5.casesList[0]}]],
                color: "rgba(238,101,183,0.70)",
                highlight: "rgba(238,101,183,0.4)",
                label: [[${forPieChart5.nameRegion}]]
            },
            {
                value: [[${forPieChart6.casesList[0]}]],
                color: "rgba(86,0,248,0.70)",
                highlight: "rgba(86,0,248,0.4)",
                label: [[${forPieChart6.nameRegion}]]
            },
            {
                value: [[${forPieChart7.casesList[0]}]],
                color: "rgba(125,107,213,0.70)",
                highlight: "rgba(125,107,213,0.4)",
                label: [[${forPieChart7.nameRegion}]]
            },
            {
                value: [[${forPieChart8.casesList[0]}]],
                color: "rgba(0,163,255,0.70)",
                highlight: "rgba(0,163,255,0.4)",
                label: [[${forPieChart8.nameRegion}]]
            },
            {
                value: [[${forPieChart9.casesList[0]}]],
                color: "rgba(119,170,32,0.70)",
                highlight: "rgba(119,170,32,0.4)",
                label: [[${forPieChart9.nameRegion}]]
            },
            {
                value: [[${forPieChart10.casesList[0]}]],
                color: "rgba(136,193,120,0.70)",
                highlight: "rgba(136,193,120,0.4)",
                label: [[${forPieChart10.nameRegion}]]
            },
            {
                value: [[${forPieChart12.casesList[0]}]],
                color: "rgba(30,153,145,0.70)",
                highlight: "rgba(30,153,145,0.4)",
                label: [[${forPieChart12.nameRegion}]]
            },
            {
                value: [[${forPieChart13.casesList[0]}]],
                color: "rgba(0,73,109,0.70)",
                highlight: "rgba(0,73,109,0.4)",
                label: [[${forPieChart13.nameRegion}]]
            },
            {
                value: [[${forPieChart14.casesList[0]}]],
                color: "rgba(134,69,234,0.70)",
                highlight: "rgba(134,69,234,0.4)",
                label: [[${forPieChart14.nameRegion}]]
            },
            {
                value: [[${forPieChart15.casesList[0]}]],
                color: "rgba(210,144,241,0.70)",
                highlight: "rgba(210,144,241,0.4)",
                label: [[${forPieChart15.nameRegion}]]
            },
            {
                value: [[${forPieChart17.casesList[0]}]],
                color: "rgba(215,75,75,0.70)",
                highlight: "rgba(215,75,75,0.4)",
                label: [[${forPieChart17.nameRegion}]]
            },
            {
                value: [[${forPieChart18.casesList[0]}]],
                color: "rgba(106,126,191,0.70)",
                highlight: "rgba(106,126,191,0.4)",
                label: [[${forPieChart18.nameRegion}]]
            },
            {
                value: [[${forPieChart19.casesList[0]}]],
                color: "rgba(217,212,49,0.70)",
                highlight: "rgba(217,212,49,0.4)",
                label: [[${forPieChart19.nameRegion}]]
            }
        ];

        window.onload = function () {
            var canvasComunidad = $("#chartComunidad")[0].getContext("2d");
            window.myLine = new Chart(canvasComunidad).Line(casosComunidadChart, {
                responsive: true,
                showTooltips: true,
                multiTooltipTemplate: "<%= value %>",
                maintainAspectRatio: true
            });

            var chartPais = $("#chartPais")[0].getContext("2d");
            window.myLine = new Chart(chartPais).Line(casosPaisChart, {
                responsive: true,
                showTooltips: true,
                multiTooltipTemplate: "<%= value %>",
                maintainAspectRatio: true
            });

            var chartClimograma = $("#chartClimograma")[0].getContext("2d");
            window.myLine = new Chart(chartClimograma).Line(comparacionChart, {
                responsive: true,
                showTooltips: true,
                multiTooltipTemplate: "<%= value %>",
                maintainAspectRatio: true
            });

            var contagiosMuertos = $(".doughnut-chart-muertos")[0].getContext("2d");
            window.myDoughnut2 = new Chart(contagiosMuertos).Pie(doughnutDeathData, {
                responsive: true,
                showTooltips: true
            });

            var contagiosHospital = $(".doughnut-chart-hospital")[0].getContext("2d");
            window.myDoughnut2 = new Chart(contagiosHospital).Pie(doughnutHospitalData, {
                responsive: true,
                showTooltips: true
            });

            var contagiosPorComunidad = $(".doughnut-chart2")[0].getContext("2d");
            window.myDoughnut2 = new Chart(contagiosPorComunidad).Doughnut(doughnutData2, {
                responsive: true,
                showTooltips: true
            });

        };
        //  end:  Chart =============
    })(jQuery);
</script>
<!-- end: Javascript -->
</body>
</html>